<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

<div class="login-container">
  <div class="login-box">
    
    <div class="title">Sign in</div>
    
    <form>
      <div class="input-group">
        <i class="fas fa-user"></i>
        <input type="text" placeholder="Username" />
      </div>
      <div class="input-group">
        <i class="fas fa-lock"></i>
        <input type="password" placeholder="Password" />
      </div>
      <button type="submit">Login</button>
    </form>

    <div class="switch-page">
      Do not have an account? <a routerLink="/register">Sign up</a>
    </div>
  </div>
</div>
