.topbar {
  display: flex;
  justify-content: space-between; /* logo left, icons right */
  align-items: center;
  padding: 5px 10px;
  background: linear-gradient(90deg, #e1a573, #de6099, #9b54c5, #6973e1);
  position: sticky;
  top: 0;
  z-index: 1000;
  color: white;
}

/* Project Name (Logo/Text) */
.logo h2 {
 font-family: 'Pacifico', cursive;
  margin: 0;
  font-size: 40px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

/* Navigation Icons */
.nav-icons {
  display: flex;
  gap: 18px;
  align-items: center;
  background: linear-gradient(90deg, #ab9cb9, #d97aa5, #b282ce, #a76d8d);
  padding: 8px 12px;
  border-radius: 8px;
}

.nav-icons a,
.nav-icons .nav-link-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  color: #444;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  padding: 6px 8px;
  border-radius: 8px;
}

.nav-icons a:hover,
.nav-icons .nav-link-btn:hover {
  color: #e1306c;
  background: rgba(225, 48, 108, 0.08);
}

/* Active link styling */
.nav-icons a.active {
  color: #e1306c;
  font-weight: bold;
}
.nav-icons a.active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  width: 18px;
  height: 3px;
  background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af, #515bd4);
  border-radius: 2px;
}
